@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

html,
body {
    height: 100%;
}

#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

@layer base {
    :root {
        --roboto-slab: "Roboto Slab";

        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;

        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;

        --primary: 0 0% 9%;
        --primary-foreground: 0 0% 98%;

        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;

        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;

        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;

        --radius: 0.5rem;
        --primary: #000;
        --sky-blue: #00A6D6;
        --sky-blue-10: #E0F5FE;
        --sky-blue-20: #B9EEFE;
        --navy: #0C2340;
        --navy-40: rgba(12, 35, 64, 40%);
        --corn-yellow: #FFB81C;
        --corn-yellow-10: #FFF1D2;
        --palatinate-purple: #6F1D77;
        --jungle-green: #009B77;
        --jungle-green-10: #009B77;
        --dim-grey: #67676B;
        --stone-grey: #96969B;
        --silver-grey: #E5E5E5;
        --seasalt: #FAFAFA;
        --alice-blue: #EFF1F3;
        --subtext: #666666
    }

    .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;

        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;

        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;

        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;

        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;

        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;

        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

}